#post {
    display: flex;
}

/* input text */
.boxcontainerSpan_Box {
    width: 20%;
}

.box_container_product {
    width: 96%;
    margin-top: 6.5rem;
    margin-right: 1rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_text h2 {
    padding: 20px 0;
}

.product-form_container{
    width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}

.box_container_image{
    padding: 2px;
}

#post .product-form_container .input-box {
    width: 350px;
}

/* Hidden product ID */
#post .product-form_container .input-box .id {
    display: none;
}

#post .product-form_container .input-box .box input {
    width: 15rem;
    height: 2.3rem;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 18px;
}

#post .product-form_container .input-img {
    width: 380px;
}

#post .product-form_container .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
}

#post .product-form_container img {
    width: 100%;
    height: 30vh;
    padding: 10px;
    cursor: pointer;
}



.image {
    width: 60%;
    display: grid;
    height: 30vh;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    color: #fff;
}



/* box_popular */

.box_popular{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
}
.box_popular input{
    width: 10%;
    
}

/* Submit button */
.btn_submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.btn_submit button {
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
}
.btn_submit2{
    margin-left: 12rem;
}
.btn_submit2 button {
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
}


/*========= post_add_product ============*/

.post_add_product{
    width: 20%;
    height: 55vh;
    display: flex;
    gap: 1rem;
}

.iconimage{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #fcfcfc;
    
}
#icon_shoppingbag{
    width: 80px;
    height: 80px;
    color: #f46738;
    padding: 10px 15px;
    border: solid 1px #ccc;
    border-radius: 50px;
    cursor: pointer;
}
#icon_goplus{
    width: 20px;
    height: 20px;
    margin-top: 2.5rem;
    margin-left: -1.8rem;
    border: solid 1px #ccc;
    background-color: #fcfcfc;
    border-radius: 10px;
    color: #f46738;
    cursor: pointer;
}