#post {
    display: flex;
}

/* input text */
.boxcontainerSpan_Box {
    width: 20%;
}

.box_container_product {
    width: 96%;
    margin-top: 6.5rem;
    margin-right: 1rem;
    padding: 1rem 2.5rem 2.5rem 2.5rem;
    flex-direction: column;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.box_text h2 {
    padding: 20px 0;
}

.edit-product-form {
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
}

#post .edit-product-form .input-box {
    width: 380px;
}

/* Hidden product ID */
#post .edit-product-form .input-box .id {
    display: none;
}

#post .edit-product-form .input-box .box input {
    width: 19rem;
    height: 2.3rem;
    border: 1px solid #ccc;
    margin-top: 1rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

/* input image */
/* .box_container_addproduct .input-img{
    margin-left: -22rem;
}
.box_container_addproduct .input-box{
    margin-left: -22rem;
}
.box_container_addproduct .box_popular{
    margin-left: -22rem;
} */




#post .edit-product-form .input-img {
    width: 380px;
}

.box_description h3{
    text-align: start;
}

.image {
    width: 80%;
    display: grid;
    height: 40vh;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    overflow: hidden;
    color: #fff;
}

#post .edit-product-form .input-img .image label p {
    display: grid;
    background-color: #22ab5d;
    border-radius: 4px;
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#post .edit-product-form .input-img .image img {
    width: 100%;
    height:35vh;
    cursor: pointer;
    object-fit: contain;
}

#post .edit-product-form .input-img .image #img {
    display: none;
}

/* box_popular */

.box_popular{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    font-size: 18px;
    font-weight: 600;
}
.box_popular input{
    width: 10%;
    
}

/* Submit button */
.btn_submit{
    margin-left: 13.5rem;
}
.btn_submit button {
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
}
.btn_submit2{
    margin-left: 18.5rem;
}
.btn_submit2 button {
    background-color: #FF4F16;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1.8rem;
    cursor: pointer;
    border: none;
}


/*========= post_add_product ============*/

.post_add_product{
    width: 25%;
    display: flex;
    gap: 1rem;
}

.iconimage{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #ccc;
    border-radius: 5px;
    margin-top: 1rem;
    background-color: #fcfcfc;
    
}
#icon_shoppingbag{
    width: 80px;
    height: 80px;
    color: #f46738;
    padding: 10px 15px;
    border: solid 1px #ccc;
    border-radius: 50px;
    cursor: pointer;
}